*{
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.bg{
    background-image: url("background.jpg")!important;
    opacity: 1;
    height: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 .nav, h1{
    margin-top: 35px !important;
    color: white !important;
    position: relative !important;
    display: inline !important;
    font-size: 15px !important;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white !important;
    float: right;
    margin-right: 20px;
}
